
#modal.accept-conditions-register
  .modal-body
    display flex
    flex-direction column
    padding 50px
    justify-content space-between
    // TODO: height of the confirm modal when i checked it, need to make sure what it is bc it isn't actually set anywhere.
    height 266px
