
#modal.accept-conditions-register
  .modal-body
    display flex
    flex-direction column
    padding 50px
    justify-content space-between
    min-height 266px
    .avant-garde-header-center
      garamond()
      font-size 22px
      font-weight bold
    .accept-conditions-register--form
      margin-top auto
